<!DOCTYPE html>
<html ng-app="NotSoGrey" style="background-color: #1ca32d;height:100vh;width:100vw">
<head>
    <meta charset="UTF-8">
    <title>Not So Grey</title>
    <link rel="stylesheet" href="dist/css/app.min.css" />
    <script type="text/javascript" src="lib/hammer.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular.hammer.min.js"></script>
    <script type="text/javascript" src="lib/tinycolor-min.js"></script>
    <script type="text/javascript" src="dist/js/configs/camera.js"></script>
</head>
<body class="camera" ng-controller="CameraController as camera" style="height:100vh;width:100vw">
    <video class="nsg-camera" id="nsg_camera" style="width:100vw;display:none;"></video>
    <canvas id="nsg_camera_canvas" style="height:calc(100vh - 48px);width:100%;float:left;" hm-pan="camera.pan($event)"></canvas>
    <div class="icon-cursor" id="nsg_canvas_cursor"></div>
    <div class="nsg-app-nav topShadow canvasNav" style="float:left;">
        <div class="icon-container-holders">
            <div class="nsg-action-holder" style="width:170px;" ng-click="camera.process()">
                <div class="icon-container w100 active"><i class="icon icon-png accept_black" title="Pick Spot"></i></div>
            </div>
            <div class="nsg-action-holder" style="width:170px;" ng-click="camera.back()">
                <div class="icon-container w100 active"><i class="icon icon-png back_black" title="Back To Launcher"></i></div>
            </div>
        </div>
    </div>
    <div class="color-cursor" id="nsg_color_cursor"></div>
</body>
</html>
