<!DOCTYPE html>
<html ng-app="NotSoGrey" style="background-color: #1ca32d;">
<head>
    <meta charset="UTF-8">
    <title>Not So Grey</title>
    <link rel="stylesheet" href="dist/css/app.min.css" />
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="dist/js/configs/start.js"></script>
</head>
<body class="start launch"
      ng-controller="StartController as start"
      ng-class="{'dragger': start.enableDrag}"
      ng-keydown="start.keyDown($event)"
      ng-keyup="start.keyUp($event)">
    <div class="icon-hodlers">
        <div class="nsg-action-holder" ng-click="start.launchCanvas()" ng-disabled="start.canvasActivated != true" ng-class="{'disabled': start.canvasActivated != true}">
            <div class="icon-container w100 "><i class="icon icon-png colorPicker48"></i></div>
        </div>
        <div class="nsg-action-holder" ng-click="start.launchKeyboard()">
            <div class="icon-container w100 "><i class="icon icon-png keyboard48"></i></div>
        </div>
        <div class="nsg-action-holder" ng-click="start.launchMain()">
            <div class="icon-container w100 "><i class="icon icon-png jumptoMain48"></i></div>
        </div>
        <div class="nsg-action-holder dragger">
            <div class="icon-container w100 h50" style="opacity:0.50;" ng-click="start.closeAll()"><i class="icon icon-png reject noPos h22" style="top:4px;"></i></div>
            <div class="icon-container w100 h50 area" style="opacity:0.50;"><i class="icon icon-png move48 noPos" style="top:6px;"></i></div>
        </div>
    </div>
</body>
</html>
