<div ng-controller="ColorPickerController as color"
     class="anim-slide-left"
     ng-mousewheel-up="color.mouseWheelUp()"
     ng-mousewheel-down="color.mouseWheelDown()"
     hm-swipeleft="color.swipeLeft($event)"
     hm-swiperight="color.swipeRight($event)"
     hm-recognizer-options='[{"type":"swipe","threshold":20, "directions":"DIRECTION_HORIZONTAL"}]'>
    <div class="nsg-mid-view-container we48 posRelative overflowHid" id="id_cardPannableContentHolder"
         ng-style="{'background-color': color.color}"
         hm-panstart="color.panStart($event)"
         hm-panup="color.panvert($event, 'up')"
         hm-pandown="color.panvert($event, 'down')"
         hm-panleft="color.panhorz($event, 'left')"
         hm-panright="color.panhorz($event, 'right')"
         hm-panend="color.panHorzEnd($event)"
         hm-recognizer-options='[{"type":"pan","threshold":5,"pointers": 0, "directions":"DIRECTION_ALL"}]'>
        <canvas class="before" ng-attr-id="{{color.canvasIdBefore}}" ng-show="color.showElements" ng-style="{'left': color.canvas.leftBefore + 'px'}"></canvas>
        <canvas class="current" ng-attr-id="{{color.canvasIdCurrent}}" ng-show="color.showElements" ng-click="color.pickSpot($event)"></canvas>
        <canvas class="after" ng-attr-id="{{color.canvasIdAfter}}" ng-show="color.showElements" ng-style="{'left': color.canvas.leftAfter + 'px'}"></canvas>
        <div class="colorHighlighter" ng-class="{'anim': color.animTop}" ng-style="{'background-color': color.badgeColor, 'border-color': color.badgeForeColor }" id="id_cardPannableContent" tabindex="0" ng-keyup="color.keyUp($event)" ng-show="color.showElements && color.showBadge">
            <label class="nsg-color-shade-name" ng-bind="color.badgeColor" ng-style="{'color': color.badgeForeColor}"></label>
            <i class="icon icon-targetFixedFilled nsg-primary-shade opac1" ng-show="true" ng-style="{'background-color': color.origColorPrimary}" ng-click="color.resetColor()"></i>
        </div>
    </div>
</div>