<div class="nsg-top-nav-details">
    <div class="icon-container-holders">
        <div class="icon-container" ng-class="{'active': color.topnav.isActive1}">
            <i class="icon icon-notification"></i>
        </div>
        <div class="icon-container" ng-class="{'active': color.topnav.isActive2}">
            <i class="icon icon-notification"></i>
        </div>
        <div class="icon-container" ng-class="{'active': color.topnav.isActive3}">
            <i class="icon icon-notification"></i>
        </div>
    </div>
</div>